/**
 * This file is used to define environment variables for the application.
 * You can create a .env.local file to override these values for local development.
 * Make sure to replace the placeholder URLs with your actual service URLs.
 */

VITE_JELLYFIN_URL=https://jellyfin.example.com
VITE_IMMICH_URL=https://immich.example.com
VITE_AUDIOBOOKSHELF_URL=https://audiobookshelf.example.com
VITE_SEERR_URL=https://seerr.example.com

VITE_SONARR_URL=https://sonarr.example.com
VITE_RADARR_URL=https://radarr.example.com
VITE_PROWLARR_URL=https://prowlarr.example.com
VITE_DELUGE_URL=https://deluge.example.com